@import "../../style/common.scss";

.mentors-container {
  @include layout(40px, 20px, 20px);


  .mentors-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid $black-color;

    .mentors-content {
      .mentors-title {
        color: $green-color;
        padding-bottom: 20px;
      }
      .mentors-description {
        font-size: 13px;
        font-weight: normal;
        font-family: "Merriweather", serif;
        font-weight: 600;
      }
    }
    .mentor-image {
      display: block;

      .image {
        max-width: 100%;
        height: auto;
      }
    }
    @media only screen and (max-width: 767px) {
      grid-template-columns: 1fr;
      grid-row-gap: 20px;
    }
  }
  .mentorship-image {
    max-width: 100%;
    height: auto;
    margin-top: 30px;
  }
}
