@import "../../style/common.scss";

.drop-down {
  &.ant-collapse {
    border: none;
    background: none;
    font-size: 20px;
    font-weight: 700;
    .ant-collapse-item {
      border-bottom: 1px solid $black-color;

      .ant-collapse-header {
        padding: 20px 0;
        .anticon {
          left: 96%;

          > svg {
            transform: rotate(90deg);
          }
        }
      }

      .ant-collapse-content {
        border-top: 1px solid $black-color;

        .ant-collapse-content-box {
            .web-links {
                display: block;
                padding: 10px 0;
                color : $green-color;
                font-family: "Merriweather", serif;
                font-size: 13px;
            }
        }
      }
    }
  }
}
