@import "../../style/common.scss";

.card-wrapper {
  .thumbnail {
    display: block;

    .thumbnail-image {
      max-width: 100%;
      height: auto;
    }
  }

  .title {
    color: $green-color;
    padding-top: 10px;
  }
  .subtitle {
    padding-bottom: 20px;
  }
//   .descritption {
//       width: 369px;
//   }
}
