@mixin layout($marginTop, $paddingLeft, $paddingRight) {
  margin-top: $marginTop;
  padding-left: $paddingLeft;
  padding-right: $paddingRight;
}

@mixin commonGrid ($column, $columnGap, $rowGap){

  display: grid;
  grid-template-columns: $column;
  grid-column-gap: $columnGap;
  grid-row-gap: $rowGap;
}